body {
    background-color: #2e3b84;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-image {
    height: auto;
    max-width: 100%;
}

.button-container {
    text-align: center;
}

button {
    background-color: #ffc3de;
    font: 'Inter, sans-serif';
    width: fit-content;
    padding: 10px 30px;
    border-radius: 25px;
}

button:hover{
    background-color: #f2a0bf;
    transition: 400ms;
}

.quote-container {
    background: url('../hopperhacks2024/resources/quote(1).png');
    background-size: cover; /* Use "cover" to make the background image fill the container */
    background-repeat: no-repeat;
    border-radius: 25px;
    padding: 20px 20px; /* Increase padding for more spacing */
    text-align: center; /* Center-align the text */
    color: white; /* Set text color to make it visible on the image */
    width: 60%:
}

.quote-text {
    text-align: justify; /* If you want the text inside to be justified */
    margin: 0; /* Remove any default margin to ensure a clean layout */
}
