body {
    background-color: #2e3b84;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-image {
    height: auto;
    max-width: 100%;
}

.button-container {
    text-align: center;
}

button {
    background-color: #ffc3de;
    font: 'Inter, sans-serif';
    width: fit-content;
    padding: 10px 30px;
    border-radius: 25px;
}

button:hover{
    background-color: #f2a0bf;
    transition: 400ms;
}

p {
    background: url(../hopperhacks2024/resources/quote\(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding: 10px 30px;
    height: 100px;
    width: 100%;
}