body {
    background-color: #2e3b84;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.header-image {
    height: auto;
    max-width: 100%;
}

.button-container {
    text-align: center;
}

button {
    background-color: #ffc3de;
    font: 'Inter, sans-serif';
    width: fit-content;
    padding: 15px 15px;
    border-radius: 25px;
}